.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/
.env
.env.*
!.env.example
flutter_run.*.log
flutter_*_run.*.log
emulator_*.log
.DS_Store
.idea/
.vscode/
*.iml

android/.gradle/
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
**/key.properties
**/*.keystore
**/*.jks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
